IO_LOC "s_rst" H11;
IO_PORT "s_rst" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "sign_led" H1;
IO_PORT "sign_led" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sclk" E2;
IO_PORT "sclk" PULL_MODE=UP BANK_VCCIO=3.3;
